#article-form{ 
    text-align: center;
}

#title{
    display: inline-block;
}

#d {
    color:#f5f6fa;
} 
// Sort this out
#deez{
    float: right;
}
a{
    color: aliceblue;
}
//Maybe move searchbar content to the middle and make bigger