#article-form{ 
    text-align: center;
}

#title{
    display: inline-block;
}

#d {
    color:#f5f6fa;
} 

a{
    color: aliceblue;
    cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  background-color: #292929;
}
//Maybe move searchbar content to the middle and make bigger