#article-form{ 
    text-align: center;
}

#title{
    display: inline-block;
}

#d {
    color:#f5f6fa;
} 
div{
     width: 70%;
    margin: 0 auto;
}
a{
    color: aliceblue;
    cursor: pointer;
   
}
//Maybe move searchbar content to the middle and make bigger